  .orgContainer h1 {
    border: 2px solid #10fc7a57;
    width: 70%;
    margin: 1rem 15%;
    padding: 1rem;
  }
  
  .orgContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0.9rem;
  }
  
  .orgContainer img {
    width: 5rem;
  }
  
 h1 {
     color: #2bcbba;
     text-align: center;
 }